<!DOCTYPE html>
<html class="no-js" lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<title>{{ page.subTitle }}</title>
		<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="assets/css/global.css">
		<link rel="stylesheet" type="text/css" href="assets/css/select2.css">
		<link rel="stylesheet" type="text/css" href="assets/css/select2-bootstrap.css">
		<script type="text/javascript" src="assets/js/jquery.js"></script>
		<script type="text/javascript" src="assets/js/history.js"></script>
		<script type="text/javascript" src="assets/js/jquery-cookie.js"></script>
		<script type="text/javascript" src="assets/js/bootstrap.js"></script>
		<script type="text/javascript" src="assets/js/bean.js"></script>
		<script type="text/javascript" src="assets/js/underscore.js"></script>
		<script type="text/javascript" src="assets/js/flotr2.js"></script>
		<script type="text/javascript" src="assets/js/envision.js"></script>
		<script type="text/javascript" src="assets/js/uri.js"></script>
		<script type="text/javascript" src="assets/js/jstz.js"></script>
		<script type="text/javascript" src="assets/js/dagre.js"></script>
		<script type="text/javascript" src="assets/js/select2.js"></script>
		<script type="text/javascript" src="assets/js/moment.js"></script>
		<script type="text/javascript" src="assets/js/util.js"></script>
		<script type="text/javascript" src="assets/js/modal.js"></script>
		<script type="text/javascript" src="assets/js/user_modal.js"></script>
	</head>
	<body>      
		<div id="page">
			{% include navigation.html %}
			<header>
				<a href="http://amp.wand.nz/browser" class="logo">
					<span>{{ page.title }}</span>
				</a>
			</header>
			<div id="content">
				{{ content }}
			</div>
		</div>
	</body>
</html>





